<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Host">
            <directory>tests/Host</directory>
        </testsuite>
        <testsuite name="Jobs">
            <directory>tests/Jobs</directory>
        </testsuite>
        <testsuite name="Commands">
            <directory>tests/Commands</directory>
        </testsuite>
        <testsuite name="LocalIngest">
            <directory>tests/LocalIngest</directory>
        </testsuite>
        <testsuite name="Otel">
            <directory>tests/Otel</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
